{% extends 'index.html' %} {%block content%} {% load static%}
<div class="d-flex flex-column align-items-center mt-4 gap-3 mb-4">
   <div class="col-12 col-lg-10">
      <div class="shadow p-4 rounded">
         <h3>Bestellübersicht</h3>
         <hr />
         {% for article in articles %}
         <div class="d-flex">
            <p class="px-2">{{article.quantity}}x</p>
            <p class="px-2 me-auto kasse-text-overview w-50">{{article.article.name}}</p>
            <p class="px-2">{{article.article.price | floatformat:2}}€</p>
            <p class="px-2 fw-bold w-25 text-end">{{article.get_sumary | floatformat:2}}€</p>
         </div>
         {% endfor %}
         <hr />
         <div class="d-flex">
            <p class="fw-bold p-2 me-auto">Menge: {{order.get_total_quantity}}</p>
            <p class="fw-bold p-2">Gesamtpreis: {{order.get_total_price | floatformat:2}} €</p>
            {% comment %} hidden field to get total-price in warenkorb.js {% endcomment %}
            <input
               hidden
               type="number"
               value="{{order.get_total_price}}"
               id="hidden-total-price" />
         </div>
      </div>
   </div>
   <div class="col-12 col-lg-10 transition-225">
      <div class="shadow p-4 rounded transition-225 mb-4">
         <h3>Rechnungsanschrift</h3>
         <hr />
         <form
            class="row g-3"
            id="form-checkout">
            <div class="col-md-6">
               <label
                  for="inputName"
                  class="form-label"
                  >Name</label
               >
               {% if request.user.is_authenticated %}
               <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  value="{{request.user|title}}"
                  required />
               {%else%}
               <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  value="Guest"
                  required />
               {% endif %}
            </div>
            <div class="col-md-6">
               <label
                  for="inputEmail"
                  class="form-label"
                  >Email</label
               >
               {% if request.user.is_authenticated%}
               <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  value="{{request.user.email}}"
                  required />
               {% else%}
               <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  value="test@test.de"
                  required />
               {% endif %}
            </div>
            <div class="col-12">
               <label
                  for="inputAddress"
                  class="form-label"
                  >Strasse + Nr.</label
               >
               <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  value="Schmiedegasse 53"
                  required />
            </div>
            <div class="col-md-2">
               <label
                  for="inputPlz"
                  class="form-label"
                  >PLZ</label
               >
               <input
                  type="text"
                  class="form-control"
                  id="inputPlz"
                  value="14469"
                  required />
            </div>
            <div class="col-md-5">
               <label
                  for="inputCity"
                  class="form-label"
                  >Stadt</label
               >
               <input
                  type="text"
                  class="form-control"
                  id="inputCity"
                  value="Postdam"
                  required />
            </div>
            <div class="col-md-5">
               <label
                  for="inputState"
                  class="form-label"
                  >Bundesland</label
               >
               <select
                  id="inputState"
                  class="form-select"
                  required>
                  {% comment %}
                  <option selected>Auswählen...</option>
                  {% endcomment %}
                  <option selected>Berlin</option>
                  <option>Brandenburg</option>
                  <option>Bayern</option>
                  <option>Baden-Württemberg</option>
                  <option>Bremen</option>
                  <option>Hamburg</option>
                  <option>Schleswig Holstein</option>
                  <option>Mecklenburg-Vorpommern</option>
                  <option>Nordrhein Westphalen</option>
                  <option>Rheinland-Pfalz</option>
                  <option>Saarland</option>
                  <option>Niedersachsen</option>
                  <option>Thüringen</option>
                  <option>Hessen</option>
                  <option>Sachsen</option>
                  <option>Sachsen-Anhalt</option>
               </select>
            </div>
            <div class="col-12 d-flex justify-content-end">
               <button
                  type="submit"
                  class="btn btn-secondary btn-buy"
                  id="form-forward-button">
                  Weiter
               </button>
            </div>
         </form>
         <div
            class="d-flex flex-column align-end py-6 hidden transition-225"
            id="info-checkout">
            <br />
            <div class="fw-bold text-end">
               Zahlungsmethode: Paypal
               <img
                  style="height: 25px"
                  src="{% static 'img/logos/paypal-mark-color.svg'%}"
                  alt="" />
            </div>
            <br />
            <button
               type="submit"
               class="btn btn-secondary btn-buy"
               id="form-checkout-button">
               Jetzt bestellen
            </button>
            <br />
            <div class="fw-bold">Hinweis: Zur Zahlung wurde eine PayPal Test Account angelegt!</div>
            <br />
            <div>email: test@test.berlin</div>
            <div>Passwort: Test1234</div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
